.gsc-control-cse {
	background: transparent !important;
}
.gsc-search-box {
	margin-bottom: 20px !important;
}
@media all and (max-width: 991px) {
	.gsc-search-box {
		margin-bottom: 0 !important;
	}
	.gsc-control-cse {
		padding: 0 !important;
		background: #fff !important;
	}
}